@use "./variables" as *;
@use "./typography" as *;

//responsive design mixins//


@mixin tablet {
    @media screen and (min-width: $min-breakpoint-tablet){
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $min-breakpoint-desktop) {
        @content;
    }
}

//set mobile text styles//

@mixin pageHeader-mobile {
    font-family: 'Avenir Next';
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
}

@mixin sectionHeader-mobile {
    font-family: 'Avenir Next';
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
}

@mixin subHeader-mobile {
    font-family: 'Avenir Next';
    font-weight: 600;
    font-size: .875rem;
    line-height: 1.375rem;
}

@mixin bodyCopy-mobile {
    font-family: 'Avenir Next';
    font-weight: 400;
    font-size: .8125rem;
    line-height: 1.125rem;
}

@mixin footerCopy-mobile {
    font-family: 'Avenir Next';
    font-weight: 400;
    font-size: .8125rem;
    line-height: 1.125rem;
}

@mixin labelsButtons-mobile {
    font-family: 'Avenir Next';
    font-weight: 700;
    font-size: .625rem;
    line-height: 1.25rem;
}

//set desktop & tablet text styles//

@mixin pageHeader-notmobile {
    font-family: 'Avenir Next';
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 4.25rem;
}

@mixin sectionHeader-notmobile {
    font-family: 'Avenir Next';
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.75rem;
}

@mixin subHeader-notmobile {
    font-family: 'Avenir Next';
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
}

@mixin bodyCopy-notmobile {
    font-family: 'Avenir Next';
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.375rem;
}

@mixin footerCopy-notmobile {
    font-family: 'Avenir Next';
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.25rem;
}

@mixin labelsButtons-notmobile {
    font-family: 'Avenir Next';
    font-weight: 700;
    font-size: .75rem;
    line-height: 1.25rem;
}