// set primary colors //

$bandSiteBlack: #323232;

$silver: #AFAFAF;

$white: #FFFFFF;

// set secondary colors //

$bandSiteDarkBlack: #000000;

$mercury: #E1E1E1;

$alabaster: #FAFAFA;

// set overlay color //

$overlay: rgb(50,50,50,0.5);

// define breakpoints //

$min-breakpoint-mobile: 20rem;

$max-breakpoint-mobile: 47.9375rem;

$min-breakpoint-tablet: 48rem;

$max-breakpoint-tablet: 79.9375rem;

$min-breakpoint-desktop: 80rem;

$max-breakpoint-desktop: 120rem;

// responsive design support //

$max-width: 120rem;