@font-face {
  font-family: "Avenir Next";
  src: url(../assets/fonts/AvenirNextLTPro-Regular.otf) format("otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url(../assets/fonts/AvenirNextLTPro-Demi.otf) format("otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url(../assets/fonts/AvenirNextLTPro-Bold.otf) format("otf");
  font-weight: 700;
  font-style: normal;
}
html {
  font-family: "Avenir Next", Verdana, Geneva, Tahoma, sans-serif;
}

* {
  box-sizing: border-box;
}

html, body {
  padding: 0rem;
  margin: 0rem;
}

h1, h2, h3, h4, p {
  margin: 0rem;
}

ul, li {
  list-style-type: none;
}

a, a:visited {
  text-decoration: none;
  color: #FFFFFF;
}

h1 {
  font-family: "Avenir Next";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media screen and (min-width: 48rem) {
  h1 {
    font-family: "Avenir Next";
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}
@media screen and (min-width: 80rem) {
  h1 {
    font-family: "Avenir Next";
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

h2 {
  font-family: "Avenir Next";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media screen and (min-width: 48rem) {
  h2 {
    font-family: "Avenir Next";
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media screen and (min-width: 80rem) {
  h2 {
    font-family: "Avenir Next";
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

h3 {
  font-family: "Avenir Next";
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@media screen and (min-width: 48rem) {
  h3 {
    font-family: "Avenir Next";
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 80rem) {
  h3 {
    font-family: "Avenir Next";
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

p {
  font-family: "Avenir Next";
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media screen and (min-width: 48rem) {
  p {
    font-family: "Avenir Next";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 80rem) {
  p {
    font-family: "Avenir Next";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

a, li {
  font-family: "Avenir Next";
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 1.25rem;
}
@media screen and (min-width: 48rem) {
  a, li {
    font-family: "Avenir Next";
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}
@media screen and (min-width: 80rem) {
  a, li {
    font-family: "Avenir Next";
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}

.nav-header {
  width: 100%;
  background-color: #323232;
  padding: 0.5rem 0rem;
}
@media screen and (min-width: 48rem) {
  .nav-header {
    padding: 0.5rem 2.25rem 0rem;
  }
}
@media screen and (min-width: 80rem) {
  .nav-header {
    padding: 0.5rem 0rem 0rem;
  }
}

.navigation {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 48rem) {
  .navigation {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 4rem;
  }
}
@media screen and (min-width: 80rem) {
  .navigation {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin: 0 3.9375rem;
    height: 4rem;
  }
}
.navigation__heading {
  padding: 0.5rem 1rem;
}
@media screen and (min-width: 48rem) {
  .navigation__heading {
    display: flex;
    align-items: flex-start;
  }
}
@media screen and (min-width: 80rem) {
  .navigation__heading {
    display: flex;
    align-items: flex-start;
  }
}
.navigation__logo {
  width: 7.5rem;
  height: 1.25rem;
}
.navigation__menu {
  width: 100%;
}
.navigation__pages {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  position: relative;
  top: 0.5rem;
  padding: 0rem;
  margin: 0rem;
}
@media screen and (min-width: 48rem) {
  .navigation__pages {
    justify-content: left;
    padding: 0.4rem 0rem 0rem 4rem;
    margin: 0rem;
  }
}
@media screen and (min-width: 80rem) {
  .navigation__pages {
    justify-content: left;
    padding: 0.4rem 0rem 0rem 4rem;
    margin: 0rem;
  }
}
.navigation__item {
  text-align: center;
  padding: 0rem 0rem 0.5rem 0rem;
  transition: all ease-in-out 0.2s;
  width: 100%;
}
@media screen and (min-width: 48rem) {
  .navigation__item {
    padding: 0rem 0rem 1rem 0rem;
    margin: 0rem 1rem;
    width: 5rem;
  }
}
@media screen and (min-width: 80rem) {
  .navigation__item {
    padding: 0rem 0rem 1rem 0rem;
    margin: 0rem 1rem;
    width: 5rem;
  }
}
.navigation__item--active, .navigation__item:hover, .navigation__item:focus {
  border-bottom: 0.25rem #FFFFFF solid;
  color: #FFFFFF;
}
.navigation__item--inactive {
  border-bottom: 0.25rem #323232 solid;
  color: #E1E1E1;
}
.navigation__link {
  font-family: "Avenir Next";
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
.navigation__link--active, .navigation__link:hover, .navigation__link:focus {
  font-weight: 600;
  color: #FFFFFF;
}
.navigation__link--inactive {
  font-weight: 400;
  color: #E1E1E1;
}

.footer {
  width: 100%;
  background-color: #323232;
  color: #FFFFFF;
  padding: 1rem 1rem 0rem 1rem;
}
@media screen and (min-width: 48rem) {
  .footer {
    padding: 2rem 2.25rem 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}
@media screen and (min-width: 80rem) {
  .footer {
    padding: 2rem 6rem 1rem;
    max-width: 120rem;
    margin: 0 auto;
  }
}
.footer * {
  padding: 0.5rem 0rem;
}
.footer__content {
  padding: 0rem;
}
@media screen and (min-width: 48rem) {
  .footer__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.footer__social {
  padding: 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 48rem) {
  .footer__social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 80rem) {
  .footer__social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.footer__title {
  padding: 1rem 0rem 0rem;
  font-family: "Avenir Next";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}
@media screen and (min-width: 48rem) {
  .footer__title {
    font-family: "Avenir Next";
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding: 0rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__title {
    font-family: "Avenir Next";
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding: 0rem;
  }
}
.footer__menu {
  padding: 0rem;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 48rem) {
  .footer__menu {
    position: absolute;
    left: 17.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__menu {
    position: absolute;
    left: 24rem;
  }
}
.footer__link {
  margin: 0rem 0.5rem 0rem 0rem;
}
@media screen and (min-width: 48rem) {
  .footer__link {
    display: flex;
    padding: 0rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__link {
    display: flex;
    padding: 0rem;
  }
}
.footer__icons {
  padding: 1rem 0rem 0rem;
  margin: 0rem 1.5rem 0rem 0rem;
}
@media screen and (min-width: 48rem) {
  .footer__icons {
    padding: 0rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__icons {
    padding: 0rem;
  }
}
@media screen and (min-width: 48rem) {
  .footer__contact {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0rem;
    margin: 0rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__contact {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0rem;
    margin: 0rem;
  }
}
@media screen and (min-width: 48rem) {
  .footer__info {
    margin: 0rem 1.5rem 0rem 0rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__info {
    margin: 0rem 4rem 0rem 0rem;
  }
}
.footer__subtitle {
  padding: 0.5rem 0rem 1rem;
  margin: 0rem;
  font-weight: 600;
}
@media screen and (min-width: 48rem) {
  .footer__subtitle {
    padding: 1rem 0rem 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__subtitle {
    padding: 1rem 0rem 2.25rem;
  }
}
.footer__text {
  padding: 0rem;
  font-family: "Avenir Next";
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media screen and (min-width: 48rem) {
  .footer__text {
    font-family: "Avenir Next";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__text {
    font-family: "Avenir Next";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.footer__email {
  padding: 1rem 0rem 0rem;
  font-family: "Avenir Next";
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media screen and (min-width: 48rem) {
  .footer__email {
    font-family: "Avenir Next";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 2.25rem 0rem 0rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__email {
    font-family: "Avenir Next";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 2.25rem 0rem 0rem;
  }
}
.footer__wordmark {
  padding: 0rem;
  margin: 0rem;
}
.footer__wordmark--mobile {
  display: flex;
  padding: 1rem 0rem 0rem;
  margin: 0rem;
}
@media screen and (min-width: 48rem) {
  .footer__wordmark--mobile {
    display: none;
  }
}
@media screen and (min-width: 80rem) {
  .footer__wordmark--mobile {
    display: none;
  }
}
.footer__wordmark--nonmobile {
  display: none;
}
@media screen and (min-width: 48rem) {
  .footer__wordmark--nonmobile {
    display: flex;
    margin: 0rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__wordmark--nonmobile {
    display: flex;
    margin-left: 0rem;
  }
}
.footer__logo {
  width: 7.5rem;
  height: 1.25rem;
  padding: 0rem;
}
@media screen and (min-width: 48rem) {
  .footer__logo--mobile {
    display: none;
  }
}
@media screen and (min-width: 80rem) {
  .footer__logo--mobile {
    display: none;
  }
}
.footer__logo--nonmobile {
  display: none;
}
@media screen and (min-width: 48rem) {
  .footer__logo--nonmobile {
    display: flex;
  }
}
@media screen and (min-width: 80rem) {
  .footer__logo--nonmobile {
    display: flex;
  }
}
.footer__copy {
  font-family: "Avenir Next";
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media screen and (min-width: 48rem) {
  .footer__copy {
    font-family: "Avenir Next";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 2.5rem 0rem 0rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__copy {
    font-family: "Avenir Next";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 2.5rem 0rem 0rem;
  }
}

.hero {
  display: flex;
  background: url(../assets/images/hero-bio.jpg) rgba(50, 50, 50, 0.5);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 1rem;
  width: 100%;
  height: 24vh;
}
@media screen and (min-width: 48rem) {
  .hero {
    height: 47vh;
  }
}
@media screen and (min-width: 80rem) {
  .hero {
    height: 65vh;
  }
}
.hero__title {
  align-self: center;
  margin: 1rem;
  color: #FFFFFF;
}
@media screen and (min-width: 48rem) {
  .hero__title {
    margin: 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .hero__title {
    margin: 5rem;
  }
}
.hero__text {
  font-family: "Avenir Next";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}
@media screen and (min-width: 48rem) {
  .hero__text {
    font-family: "Avenir Next";
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 80rem) {
  .hero__text {
    font-family: "Avenir Next";
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 600;
  }
}

.about {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.5rem 1rem 0rem 1rem;
}
@media screen and (min-width: 48rem) {
  .about {
    padding: 3rem 2.25rem 0rem 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .about {
    padding: 3rem 2.25rem 0rem 2.25rem;
    max-width: 120rem;
  }
}
.about__title {
  padding: 0rem 0rem 1rem 0rem;
  font-family: "Avenir Next";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}
@media screen and (min-width: 48rem) {
  .about__title {
    padding: 0rem 0rem 2.25rem 0rem;
    font-family: "Avenir Next";
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 80rem) {
  .about__title {
    padding: 0rem 0rem 2.25rem 5rem;
    font-family: "Avenir Next";
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
    margin: 0rem auto;
  }
}
.about__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  height: 12rem;
}
@media screen and (min-width: 48rem) {
  .about__image {
    padding: 0rem 3rem 0rem;
    height: 22rem;
  }
}
@media screen and (min-width: 80rem) {
  .about__image {
    padding: 0rem 11rem 0rem;
    height: 40rem;
  }
}
.about__quote {
  padding: 1rem 0rem 0rem;
}
@media screen and (min-width: 48rem) {
  .about__quote {
    margin: 2.25rem 0rem 0rem 0rem;
  }
}
@media screen and (min-width: 80rem) {
  .about__quote {
    margin: 2.25rem 0rem 0rem 0rem;
    width: 80%;
  }
}
.about__quotation {
  font-family: "Avenir Next";
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
  text-align: left;
}
@media screen and (min-width: 48rem) {
  .about__quotation {
    font-family: "Avenir Next";
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: left;
    padding: 0rem 3rem 0rem;
  }
}
@media screen and (min-width: 80rem) {
  .about__quotation {
    font-family: "Avenir Next";
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: left;
    padding: 0rem 11rem 0rem;
  }
}
.about__quotee {
  font-family: "Avenir Next";
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
  text-align: left;
  padding: 1rem 0rem;
}
@media screen and (min-width: 48rem) {
  .about__quotee {
    font-family: "Avenir Next";
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: left;
    padding: 0rem 3rem 0rem;
    font-size: 0.875rem;
    margin: 1rem 0rem 0rem 0rem;
  }
}
@media screen and (min-width: 80rem) {
  .about__quotee {
    font-family: "Avenir Next";
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: left;
    padding: 0rem 11rem 0rem;
    font-size: 0.875rem;
    margin: 1rem 0rem 0rem 0rem;
  }
}
.about__biography {
  padding: 1rem 0rem;
}
.about__subtitle {
  font-family: "Avenir Next";
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
  text-align: left;
  font-size: 1rem;
}
@media screen and (min-width: 48rem) {
  .about__subtitle {
    font-family: "Avenir Next";
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: left;
    padding: 2rem 3rem 0rem;
    font-size: 2rem;
  }
}
@media screen and (min-width: 80rem) {
  .about__subtitle {
    font-family: "Avenir Next";
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: left;
    padding: 3rem 11rem 0rem;
    font-size: 2rem;
  }
}
.about__text {
  padding: 0rem 2rem 0rem 0rem;
}
@media screen and (min-width: 48rem) {
  .about__text {
    display: flex;
    flex-direction: row;
    padding: 2rem 3rem 0rem;
  }
}
@media screen and (min-width: 80rem) {
  .about__text {
    display: flex;
    flex-direction: row;
    padding: 3rem 11rem 0rem;
  }
}
.about__paragraph {
  font-family: "Avenir Next";
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  text-align: left;
  padding: 1rem 0rem 0rem;
}
@media screen and (min-width: 48rem) {
  .about__paragraph {
    font-family: "Avenir Next";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.375rem;
    text-align: left;
    padding: 0rem 1.5rem 1rem 0rem;
  }
}
@media screen and (min-width: 80rem) {
  .about__paragraph {
    font-family: "Avenir Next";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.375rem;
    text-align: left;
    padding: 0rem 6rem 1rem 0rem;
  }
}

.gallery {
  background-color: #FAFAFA;
  padding: 1.5rem 1rem 0rem 1rem;
}
@media screen and (min-width: 48rem) {
  .gallery {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .gallery {
    padding: 3rem 6rem 3rem 6rem;
    max-width: 120rem;
  }
}
.gallery__title {
  padding: 0rem 0rem 1rem 0rem;
  font-family: "Avenir Next";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: #323232;
}
@media screen and (min-width: 48rem) {
  .gallery__title {
    padding: 0rem 0rem 1rem 0rem;
    font-family: "Avenir Next";
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 80rem) {
  .gallery__title {
    padding: 0rem 0rem 2.25rem 0rem;
    font-family: "Avenir Next";
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
    margin: 0rem;
  }
}
.gallery__collection {
  width: 100%;
}
@media screen and (min-width: 48rem) {
  .gallery__collection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 80rem) {
  .gallery__collection {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 0rem auto;
  }
}
.gallery__image {
  width: 100%;
  padding-bottom: 1rem;
}
@media screen and (min-width: 48rem) {
  .gallery__image {
    width: 30%;
    padding: 0rem;
    flex-grow: 1;
  }
}
@media screen and (min-width: 80rem) {
  .gallery__image {
    width: 30%;
    padding: 0rem;
    flex-grow: 1;
  }
}

.comments {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1.5rem 1rem 0rem 1rem;
  width: 100%;
  margin: 0rem center;
}
@media screen and (min-width: 48rem) {
  .comments {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .comments {
    padding: 3rem 6rem 3rem 6rem;
    max-width: 120rem;
  }
}
.comments__title {
  padding: 0rem 0rem 1rem 0rem;
  font-family: "Avenir Next";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: #323232;
}
@media screen and (min-width: 48rem) {
  .comments__title {
    padding: 0rem 0rem 1rem 0rem;
    font-family: "Avenir Next";
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 80rem) {
  .comments__title {
    padding: 0rem 0rem 2.25rem 0rem;
    font-family: "Avenir Next";
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
    margin: 0rem;
  }
}
.comments__add-comment {
  display: flex;
  width: 100%;
}
@media screen and (min-width: 48rem) {
  .comments__add-comment {
    justify-content: center;
    padding: 0rem 3rem;
  }
}
@media screen and (min-width: 80rem) {
  .comments__add-comment {
    width: 50%;
    align-self: center;
  }
}
.comments__img {
  background-image: url(../assets/images/Mohan-muruge.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 2.25rem;
  height: 2.25rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin: 1.5rem 0rem;
}
@media screen and (min-width: 48rem) {
  .comments__img {
    width: 3rem;
    height: 3rem;
  }
}
@media screen and (min-width: 80rem) {
  .comments__img {
    width: 3rem;
    height: 3rem;
  }
}
.comments__img--no-picture {
  display: flex;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  background-color: #E1E1E1;
  margin: 0rem;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 48rem) {
  .comments__img--no-picture {
    width: 3rem;
    height: 3rem;
  }
}
@media screen and (min-width: 80rem) {
  .comments__img--no-picture {
    width: 3rem;
    height: 3rem;
  }
}
.comments__form {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  width: 100%;
}
.comments__list {
  margin: 0rem;
  padding: 0rem 0rem 0rem 1rem;
}
.comments__label {
  text-transform: uppercase;
  color: #AFAFAF;
  font-family: "Avenir Next";
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 600;
}
@media screen and (min-width: 48rem) {
  .comments__label {
    font-family: "Avenir Next";
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 80rem) {
  .comments__label {
    font-family: "Avenir Next";
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 600;
  }
}
.comments__name, .comments__text {
  width: 100%;
  height: 2.25rem;
  background-color: #FAFAFA;
  margin: 0.25rem 0rem 1rem 0rem;
  padding: 0.75rem;
  border-radius: 0.25rem;
  border: 0.0625rem solid #E1E1E1;
}
@media screen and (min-width: 48rem) {
  .comments__name, .comments__text {
    padding: 1rem;
    height: 3rem;
  }
}
@media screen and (min-width: 80rem) {
  .comments__name, .comments__text {
    padding: 1rem;
    height: 3rem;
  }
}
.comments__name::-moz-placeholder, .comments__text::-moz-placeholder {
  color: #323232;
  font-family: "Avenir Next";
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
.comments__name::placeholder, .comments__text::placeholder {
  color: #323232;
  font-family: "Avenir Next";
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media screen and (min-width: 48rem) {
  .comments__name::-moz-placeholder, .comments__text::-moz-placeholder {
    font-family: "Avenir Next";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  .comments__name::placeholder, .comments__text::placeholder {
    font-family: "Avenir Next";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 80rem) {
  .comments__name::-moz-placeholder, .comments__text::-moz-placeholder {
    font-family: "Avenir Next";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  .comments__name::placeholder, .comments__text::placeholder {
    font-family: "Avenir Next";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.comments__name:active, .comments__text:active {
  border: 0.0625rem solid #323232;
}
.comments__name:focus, .comments__text:focus {
  outline: #323232;
  border: 0.0625rem solid #323232;
}
.comments__text {
  height: 6rem;
}
.comments__text::-moz-placeholder {
  vertical-align: text-top;
}
.comments__text::placeholder {
  vertical-align: text-top;
}
.comments__button {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 48rem) {
  .comments__button {
    justify-content: right;
  }
}
@media screen and (min-width: 80rem) {
  .comments__button {
    justify-content: right;
  }
}
.comments__submit {
  width: 100%;
  height: 2.5rem;
  padding: 0.5rem 0.25rem;
  background-color: #323232;
  color: #FFFFFF;
  text-transform: uppercase;
  border-radius: 0.25rem;
  border: none;
  font-family: "Avenir Next";
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 600;
  font-size: 1rem;
}
@media screen and (min-width: 48rem) {
  .comments__submit {
    width: 10rem;
    padding: 0.5rem, 1rem;
    font-family: "Avenir Next";
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 80rem) {
  .comments__submit {
    width: 10rem;
    padding: 0.25rem, 1rem;
    font-family: "Avenir Next";
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 600;
  }
}
.comments__submit:hover {
  background-color: #000000;
  cursor: pointer;
}
.comments__required {
  border-radius: 0.25rem;
  border: 0.0625rem solid #D22D2D;
}

.display-comments {
  margin: 0rem;
  line-height: 1.25rem;
}
@media screen and (min-width: 48rem) {
  .display-comments {
    justify-content: center;
    padding: 0rem 3rem;
  }
}
@media screen and (min-width: 80rem) {
  .display-comments {
    align-self: center;
    width: 50%;
    margin: 1rem;
  }
}
.display-comments__list {
  padding: 0rem;
}
.display-comments__card {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: space-between;
  border-bottom: 0.0625rem solid #E1E1E1;
  padding: 1rem 0rem;
  width: 100%;
}
.display-comments__card:first-child {
  border-top: 0.0625rem solid #E1E1E1;
}
.display-comments__content {
  width: 100%;
  padding: 0rem 0rem 0rem 1rem;
}
.display-comments__name-and-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 0rem 0.5rem 0rem;
  font-family: "Avenir Next";
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media screen and (min-width: 48rem) {
  .display-comments__name-and-date {
    font-family: "Avenir Next";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 80rem) {
  .display-comments__name-and-date {
    font-family: "Avenir Next";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.display-comments__name {
  color: #323232;
  font-weight: 600;
}
.display-comments__date {
  color: #AFAFAF;
}
.display-comments__text {
  text-align: left;
}/*# sourceMappingURL=bio.css.map */