@use "./partials/variables" as *;
@use "./partials/typography" as *;
@use "./partials/mixins" as *;
@use "./partials/global" as *;

// hero section //

.hero {
    display: flex;
    background: url(../assets/images/hero-bio.jpg) $overlay; 
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1rem;
    width: 100%;
    @include mobile {
        height: 24vh;
    }
    @include tablet {
        height: 47vh;
    }
    @include desktop {
        height: 65vh;
    }

    &__title {
        align-self: center;
        margin: 1rem;
        color: $white;
        @include tablet {
            margin: 2.25rem;
        }
        @include desktop {
            margin: 5rem;
        }
    }

    &__text {
        @include pageHeader-mobile;
        font-weight: 600;
        @include tablet {
            @include pageHeader-notmobile;
            font-weight: 600;
        }
        @include desktop {
            @include pageHeader-notmobile;
            font-weight: 600;
        }
    }
}

// about section //

.about {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include mobile {
        padding: 1.5rem 1rem 0rem 1rem;
    }
    @include tablet {
        padding: 3rem 2.25rem 0rem 2.25rem;
    }
    @include desktop {
        padding: 3rem 2.25rem 0rem 2.25rem;
        max-width: $max-width;
    }

    &__title {
    @include mobile {
        padding: 0rem 0rem 1rem 0rem;
        @include sectionHeader-mobile;
        font-weight: 600;
    }
    @include tablet {
        padding: 0rem 0rem 2.25rem 0rem;
        @include sectionHeader-notmobile;
        font-weight: 600;
    }
    @include desktop {
        padding: 0rem 0rem 2.25rem 5rem;
        @include sectionHeader-notmobile;
        font-weight: 600;
        margin: 0rem auto;
    }    
    }

    &__image {
        width: 100%;
        object-fit: cover;
        object-position: bottom;
        height: 12rem;
        @include tablet {
            padding: 0rem 3rem 0rem;
            height: 22rem;
        }
        @include desktop {
            padding: 0rem 11rem 0rem;
            height: 40rem;
        }        
    }

    &__quote {
        padding: 1rem 0rem 0rem;
        @include tablet {
            margin: 2.25rem 0rem 0rem 0rem;
        }
        @include desktop {
            margin: 2.25rem 0rem 0rem 0rem;
            width: 80%;
        }
    }

    &__quotation {
        @include mobile {
            @include subHeader-mobile;
            text-align: left;
        }
        @include tablet {
            @include subHeader-notmobile;
            text-align: left;
            padding: 0rem 3rem 0rem;
        }
        @include desktop {
            @include subHeader-notmobile;
            text-align: left;
            padding: 0rem 11rem 0rem;
        }
    }

    &__quotee {
        @include mobile {
            @include subHeader-mobile;
            text-align: left;
            padding: 1rem 0rem;
        }
        @include tablet {
            @include subHeader-notmobile;
            text-align: left;
            padding: 0rem 3rem 0rem;
            font-size: .875rem;
            margin: 1rem 0rem 0rem 0rem;
        }
        @include desktop {
            @include subHeader-notmobile;
            text-align: left;
            padding: 0rem 11rem 0rem;
            font-size: .875rem;
            margin: 1rem 0rem 0rem 0rem;
        }
    }

    &__biography {
        padding: 1rem 0rem;
    }

    &__subtitle {
        @include mobile {
            @include subHeader-mobile;
            text-align: left;
            font-size: 1rem;
        }
        @include tablet {
            @include subHeader-notmobile;
            text-align: left;
            padding: 2rem 3rem 0rem;
            font-size: 2rem;
        }
        @include desktop {
            @include subHeader-notmobile;
            text-align: left;
            padding: 3rem 11rem 0rem;
            font-size: 2rem;
        }
    }

    &__text {
        padding: 0rem 2rem 0rem 0rem;
        @include tablet {
            display: flex;
            flex-direction: row;
            padding: 2rem 3rem 0rem;
        }
        @include desktop {
            display: flex;
            flex-direction: row;
            padding: 3rem 11rem 0rem;
        }
    }

    &__paragraph {
        @include mobile {
            @include bodyCopy-mobile;
            text-align: left;
            padding: 1rem 0rem 0rem;
        }
        @include tablet {
            @include bodyCopy-notmobile;
            text-align: left;
            padding: 0rem 1.5rem 1rem 0rem;
        }
        @include desktop {
            @include bodyCopy-notmobile;
            text-align: left;
            padding: 0rem 6rem 1rem 0rem;
        }
    }

}

// gallery section //

.gallery {
    background-color: $alabaster;
    @include mobile {
        padding: 1.5rem 1rem 0rem 1rem;
    }
    @include tablet {
        padding: 3rem 2.25rem 2.25rem 2.25rem;
    }
    @include desktop {
        padding: 3rem 6rem 3rem 6rem;
        max-width: $max-width;
    }

    &__title {
    @include mobile {
        padding: 0rem 0rem 1rem 0rem;
        @include sectionHeader-mobile;
        font-weight: 600;
    }
    @include tablet {
        padding: 0rem 0rem 1rem 0rem;
        @include sectionHeader-notmobile;
        font-weight: 600;
    }
    @include desktop {
        padding: 0rem 0rem 2.25rem 0rem;
        @include sectionHeader-notmobile;
        font-weight: 600;
        margin: 0rem;
    }    
    }

    &__collection {
        width: 100%;
        @include tablet {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            flex-wrap: wrap;
        }

        @include desktop {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 1.5rem;
            margin: 0rem auto;
        }
    }

    &__image {
        width: 100%;
        padding-bottom: 1rem;
        @include tablet {
            width: 30%;
            padding: 0rem;
            flex-grow: 1;
        }
        @include desktop {
            width: 30%;
            padding: 0rem;
            flex-grow: 1;
        }
    }
}

// comment section //

.comments {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1.5rem 1rem 0rem 1rem;
    width: 100%;
    margin: 0rem center;
    @include tablet {
        padding: 3rem 2.25rem 2.25rem 2.25rem;
    }
    @include desktop {
        padding: 3rem 6rem 3rem 6rem;
        max-width: $max-width;
    }

    &__title {
    @include mobile {
        padding: 0rem 0rem 1rem 0rem;
        @include sectionHeader-mobile;
        font-weight: 600;
    }
    @include tablet {
        padding: 0rem 0rem 1rem 0rem;
        @include sectionHeader-notmobile;
        font-weight: 600;
    }
    @include desktop {
        padding: 0rem 0rem 2.25rem 0rem;
        @include sectionHeader-notmobile;
        font-weight: 600;
        margin: 0rem;
    }    
    }

    &__add-comment {
        display: flex;
        width: 100%;
        @include tablet {
            justify-content: center;
            padding: 0rem 3rem;
        }
        @include desktop {
            width: 50%;
            align-self: center;
        }
    }

    &__img {
        background-image: url(../assets/images/Mohan-muruge.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 2.25rem;
        height: 2.25rem;
        object-fit: cover;
        border-radius: 50%;
        margin: 1.5rem 0rem;
        @include tablet {
            width: 3rem;
            height: 3rem;
        }
        @include desktop {
            width: 3rem;
            height: 3rem;            
        }
        &--no-picture {
            display: flex;
            width: 2.25rem;
            height: 2.25rem;
            border-radius: 50%;
            background-color: $mercury;
            margin: 0rem;
            object-fit: cover;
            @include tablet {
                width: 3rem;
                height: 3rem;
            }
            @include desktop {
                width: 3rem;
                height: 3rem;            
            }
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-between;
        width: 100%;
    }

    &__list {
        margin: 0rem;
        padding: 0rem 0rem 0rem 1rem;
    }

    &__label {
        text-transform: uppercase;
        color: $silver;
        @include labelsButtons-mobile;
        font-weight: 600;
        @include tablet {
            @include labelsButtons-notmobile;
            font-weight: 600;
        }
        @include desktop {
            @include labelsButtons-notmobile;
            font-weight: 600;
        }
    }

    &__name, &__text {
        width: 100%;
        height: 2.25rem;
        background-color: $alabaster;
        margin: .25rem 0rem 1rem 0rem;
        padding: .75rem;
        border-radius: 0.25rem;
        border: 0.0625rem solid $mercury;
        @include tablet {
            padding: 1rem;
            height: 3rem;
        }
        @include desktop {
            padding: 1rem;
            height: 3rem;
        }
        &::placeholder {
            color: $bandSiteBlack;
            @include bodyCopy-mobile;
            @include tablet {
                @include bodyCopy-notmobile;
            }
            @include desktop {
                @include bodyCopy-notmobile;
            }
        }
        &:active {
            border: 0.0625rem solid$bandSiteBlack;
        }
        &:focus {
            outline: $bandSiteBlack;
            border: 0.0625rem solid$bandSiteBlack;
        }   
    }

    &__text {
        height: 6rem;
        &::placeholder {
            vertical-align: text-top;
        }
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        @include tablet {
            justify-content: right;
        }
        @include desktop {
            justify-content: right;
        }
    }

    &__submit {
        width: 100%;
        height: 2.5rem;
        padding: 0.5rem 0.25rem;
        background-color: $bandSiteBlack;
        color: $white;
        text-transform: uppercase;
        border-radius: 0.25rem;
        border: none;
        @include labelsButtons-mobile;
        font-weight: 600;
        font-size: 1rem;
        @include tablet {
            width: 10rem;
            padding: 0.5rem, 1rem;
            @include labelsButtons-notmobile;
            font-weight: 600;
        }
        @include desktop {
            width: 10rem;
            padding: 0.25rem, 1rem;
            @include labelsButtons-notmobile;
            font-weight: 600;
        }
        &:hover {
            background-color: $bandSiteDarkBlack;
            cursor: pointer;
        }
    }

    &__required {
        border-radius: 0.25rem;
        border: 0.0625rem solid #D22D2D;
    }
}

.display-comments {
    margin: 0rem;
    line-height: 1.25rem;
    @include tablet {
        justify-content: center;
        padding: 0rem 3rem;
    }
    @include desktop {
        align-self: center;
        width: 50%;
        margin: 1rem;
    }
    
    &__list {
        padding: 0rem;
    }

    &__card {
        display: flex;
        flex-direction: row;
        align-items: left;
        justify-content: space-between;
        border-bottom: 0.0625rem solid $mercury;
        padding: 1rem 0rem;
        width: 100%;
        &:first-child {
            border-top: 0.0625rem solid $mercury;
        }
    }

    &__content {
        width: 100%;
        padding: 0rem 0rem 0rem 1rem;
    }

    &__name-and-date {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0rem 0rem 0.5rem 0rem;
        @include bodyCopy-mobile;
        @include tablet {
            @include bodyCopy-notmobile;
        }
        @include desktop {
            @include bodyCopy-notmobile;
        }
    }

    &__name {
        color: $bandSiteBlack;
        font-weight: 600;
    }

    &__date {
        color: $silver;
    }

    &__text {
        text-align: left;
    }
}