@font-face {
  font-family: "Avenir Next";
  src: url(../assets/fonts/AvenirNextLTPro-Regular.otf) format("otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url(../assets/fonts/AvenirNextLTPro-Demi.otf) format("otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url(../assets/fonts/AvenirNextLTPro-Bold.otf) format("otf");
  font-weight: 700;
  font-style: normal;
}
html {
  font-family: "Avenir Next", Verdana, Geneva, Tahoma, sans-serif;
}

* {
  box-sizing: border-box;
}

html, body {
  padding: 0rem;
  margin: 0rem;
}

h1, h2, h3, h4, p {
  margin: 0rem;
}

ul, li {
  list-style-type: none;
}

a, a:visited {
  text-decoration: none;
  color: #FFFFFF;
}

h1 {
  font-family: "Avenir Next";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media screen and (min-width: 48rem) {
  h1 {
    font-family: "Avenir Next";
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}
@media screen and (min-width: 80rem) {
  h1 {
    font-family: "Avenir Next";
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

h2 {
  font-family: "Avenir Next";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media screen and (min-width: 48rem) {
  h2 {
    font-family: "Avenir Next";
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media screen and (min-width: 80rem) {
  h2 {
    font-family: "Avenir Next";
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

h3 {
  font-family: "Avenir Next";
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@media screen and (min-width: 48rem) {
  h3 {
    font-family: "Avenir Next";
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 80rem) {
  h3 {
    font-family: "Avenir Next";
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

p {
  font-family: "Avenir Next";
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media screen and (min-width: 48rem) {
  p {
    font-family: "Avenir Next";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 80rem) {
  p {
    font-family: "Avenir Next";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

a, li {
  font-family: "Avenir Next";
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 1.25rem;
}
@media screen and (min-width: 48rem) {
  a, li {
    font-family: "Avenir Next";
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}
@media screen and (min-width: 80rem) {
  a, li {
    font-family: "Avenir Next";
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}

.nav-header {
  width: 100%;
  background-color: #323232;
  padding: 0.5rem 0rem;
}
@media screen and (min-width: 48rem) {
  .nav-header {
    padding: 0.5rem 2.25rem 0rem;
  }
}
@media screen and (min-width: 80rem) {
  .nav-header {
    padding: 0.5rem 0rem 0rem;
  }
}

.navigation {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 48rem) {
  .navigation {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 4rem;
  }
}
@media screen and (min-width: 80rem) {
  .navigation {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin: 0 3.9375rem;
    height: 4rem;
  }
}
.navigation__heading {
  padding: 0.5rem 1rem;
}
@media screen and (min-width: 48rem) {
  .navigation__heading {
    display: flex;
    align-items: flex-start;
  }
}
@media screen and (min-width: 80rem) {
  .navigation__heading {
    display: flex;
    align-items: flex-start;
  }
}
.navigation__logo {
  width: 7.5rem;
  height: 1.25rem;
}
.navigation__menu {
  width: 100%;
}
.navigation__pages {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  position: relative;
  top: 0.5rem;
  padding: 0rem;
  margin: 0rem;
}
@media screen and (min-width: 48rem) {
  .navigation__pages {
    justify-content: left;
    padding: 0.4rem 0rem 0rem 4rem;
    margin: 0rem;
  }
}
@media screen and (min-width: 80rem) {
  .navigation__pages {
    justify-content: left;
    padding: 0.4rem 0rem 0rem 4rem;
    margin: 0rem;
  }
}
.navigation__item {
  text-align: center;
  padding: 0rem 0rem 0.5rem 0rem;
  transition: all ease-in-out 0.2s;
  width: 100%;
}
@media screen and (min-width: 48rem) {
  .navigation__item {
    padding: 0rem 0rem 1rem 0rem;
    margin: 0rem 1rem;
    width: 5rem;
  }
}
@media screen and (min-width: 80rem) {
  .navigation__item {
    padding: 0rem 0rem 1rem 0rem;
    margin: 0rem 1rem;
    width: 5rem;
  }
}
.navigation__item--active, .navigation__item:hover, .navigation__item:focus {
  border-bottom: 0.25rem #FFFFFF solid;
  color: #FFFFFF;
}
.navigation__item--inactive {
  border-bottom: 0.25rem #323232 solid;
  color: #E1E1E1;
}
.navigation__link {
  font-family: "Avenir Next";
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
.navigation__link--active, .navigation__link:hover, .navigation__link:focus {
  font-weight: 600;
  color: #FFFFFF;
}
.navigation__link--inactive {
  font-weight: 400;
  color: #E1E1E1;
}

.footer {
  width: 100%;
  background-color: #323232;
  color: #FFFFFF;
  padding: 1rem 1rem 0rem 1rem;
}
@media screen and (min-width: 48rem) {
  .footer {
    padding: 2rem 2.25rem 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}
@media screen and (min-width: 80rem) {
  .footer {
    padding: 2rem 6rem 1rem;
    max-width: 120rem;
    margin: 0 auto;
  }
}
.footer * {
  padding: 0.5rem 0rem;
}
.footer__content {
  padding: 0rem;
}
@media screen and (min-width: 48rem) {
  .footer__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.footer__social {
  padding: 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 48rem) {
  .footer__social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 80rem) {
  .footer__social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.footer__title {
  padding: 1rem 0rem 0rem;
  font-family: "Avenir Next";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}
@media screen and (min-width: 48rem) {
  .footer__title {
    font-family: "Avenir Next";
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding: 0rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__title {
    font-family: "Avenir Next";
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding: 0rem;
  }
}
.footer__menu {
  padding: 0rem;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 48rem) {
  .footer__menu {
    position: absolute;
    left: 17.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__menu {
    position: absolute;
    left: 24rem;
  }
}
.footer__link {
  margin: 0rem 0.5rem 0rem 0rem;
}
@media screen and (min-width: 48rem) {
  .footer__link {
    display: flex;
    padding: 0rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__link {
    display: flex;
    padding: 0rem;
  }
}
.footer__icons {
  padding: 1rem 0rem 0rem;
  margin: 0rem 1.5rem 0rem 0rem;
}
@media screen and (min-width: 48rem) {
  .footer__icons {
    padding: 0rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__icons {
    padding: 0rem;
  }
}
@media screen and (min-width: 48rem) {
  .footer__contact {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0rem;
    margin: 0rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__contact {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0rem;
    margin: 0rem;
  }
}
@media screen and (min-width: 48rem) {
  .footer__info {
    margin: 0rem 1.5rem 0rem 0rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__info {
    margin: 0rem 4rem 0rem 0rem;
  }
}
.footer__subtitle {
  padding: 0.5rem 0rem 1rem;
  margin: 0rem;
  font-weight: 600;
}
@media screen and (min-width: 48rem) {
  .footer__subtitle {
    padding: 1rem 0rem 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__subtitle {
    padding: 1rem 0rem 2.25rem;
  }
}
.footer__text {
  padding: 0rem;
  font-family: "Avenir Next";
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media screen and (min-width: 48rem) {
  .footer__text {
    font-family: "Avenir Next";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__text {
    font-family: "Avenir Next";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.footer__email {
  padding: 1rem 0rem 0rem;
  font-family: "Avenir Next";
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media screen and (min-width: 48rem) {
  .footer__email {
    font-family: "Avenir Next";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 2.25rem 0rem 0rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__email {
    font-family: "Avenir Next";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 2.25rem 0rem 0rem;
  }
}
.footer__wordmark {
  padding: 0rem;
  margin: 0rem;
}
.footer__wordmark--mobile {
  display: flex;
  padding: 1rem 0rem 0rem;
  margin: 0rem;
}
@media screen and (min-width: 48rem) {
  .footer__wordmark--mobile {
    display: none;
  }
}
@media screen and (min-width: 80rem) {
  .footer__wordmark--mobile {
    display: none;
  }
}
.footer__wordmark--nonmobile {
  display: none;
}
@media screen and (min-width: 48rem) {
  .footer__wordmark--nonmobile {
    display: flex;
    margin: 0rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__wordmark--nonmobile {
    display: flex;
    margin-left: 0rem;
  }
}
.footer__logo {
  width: 7.5rem;
  height: 1.25rem;
  padding: 0rem;
}
@media screen and (min-width: 48rem) {
  .footer__logo--mobile {
    display: none;
  }
}
@media screen and (min-width: 80rem) {
  .footer__logo--mobile {
    display: none;
  }
}
.footer__logo--nonmobile {
  display: none;
}
@media screen and (min-width: 48rem) {
  .footer__logo--nonmobile {
    display: flex;
  }
}
@media screen and (min-width: 80rem) {
  .footer__logo--nonmobile {
    display: flex;
  }
}
.footer__copy {
  font-family: "Avenir Next";
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media screen and (min-width: 48rem) {
  .footer__copy {
    font-family: "Avenir Next";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 2.5rem 0rem 0rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__copy {
    font-family: "Avenir Next";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 2.5rem 0rem 0rem;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: left;
  background: url(../assets/images/hero-shows.jpg) rgba(50, 50, 50, 0.5);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 1rem;
  width: 100%;
  min-height: 37vh;
}
@media screen and (min-width: 48rem) {
  .hero {
    min-height: 47vh;
  }
}
@media screen and (min-width: 80rem) {
  .hero {
    flex-direction: row;
    align-items: center;
    min-height: 65vh;
  }
}
.hero__subtitle {
  font-family: "Avenir Next";
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
  padding-bottom: 1rem;
}
@media screen and (min-width: 48rem) {
  .hero__subtitle {
    font-family: "Avenir Next";
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 80rem) {
  .hero__subtitle {
    font-family: "Avenir Next";
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
  }
}
.hero__title {
  margin: 1rem 0rem 0rem;
  color: #FFFFFF;
}
@media screen and (min-width: 48rem) {
  .hero__title {
    margin: 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .hero__title {
    margin: 5rem;
  }
}
.hero__text {
  font-family: "Avenir Next";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}
@media screen and (min-width: 48rem) {
  .hero__text {
    font-family: "Avenir Next";
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 80rem) {
  .hero__text {
    font-family: "Avenir Next";
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 600;
  }
}
.hero__soundcloud--mobile {
  margin: 1rem 0rem;
}
@media screen and (min-width: 48rem) {
  .hero__soundcloud--mobile {
    display: none;
  }
}
@media screen and (min-width: 80rem) {
  .hero__soundcloud--mobile {
    display: none;
  }
}
.hero__soundcloud--nonmobile {
  display: none;
}
@media screen and (min-width: 48rem) {
  .hero__soundcloud--nonmobile {
    display: block;
    margin: 1rem 2rem 0rem;
  }
}
@media screen and (min-width: 80rem) {
  .hero__soundcloud--nonmobile {
    display: block;
    margin: 9.5rem 5rem 5rem;
  }
}

.shows {
  padding: 0rem;
}
@media screen and (min-width: 48rem) {
  .shows {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3rem 2.25rem 0rem 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .shows {
    flex-direction: column;
    padding: 3rem 2.25rem 0rem 2.25rem;
    max-width: 120rem;
    margin: 0 auto;
  }
}
@media screen and (min-width: 80rem) {
  .shows__container--desktop {
    display: flex;
    align-items: flex-start;
  }
}
.shows__title {
  padding: 1rem;
  font-family: "Avenir Next";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: #323232;
}
@media screen and (min-width: 48rem) {
  .shows__title {
    display: none;
  }
}
@media screen and (min-width: 80rem) {
  .shows__title {
    display: none;
  }
}
.shows__title--desktop {
  display: none;
}
@media screen and (min-width: 48rem) {
  .shows__title--desktop {
    display: flex;
    padding: 0rem 0rem 2.25rem 0.5rem;
    font-family: "Avenir Next";
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 80rem) {
  .shows__title--desktop {
    display: flex;
    padding: 0rem 0rem 2.25rem 4rem;
    font-family: "Avenir Next";
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
  }
}
.shows__list {
  padding: 0rem;
  margin: 0rem 0rem 1rem;
}
@media screen and (min-width: 48rem) {
  .shows__list {
    padding: 0rem 0rem 1rem;
  }
}
@media screen and (min-width: 80rem) {
  .shows__list {
    padding: 0rem 0rem 1rem 4rem;
    width: 70%;
  }
}
.shows__cards {
  border-bottom: 0.0625rem solid #E1E1E1;
  padding: 0rem 0rem 1rem 0rem;
  margin: 0rem;
  display: flex;
  flex-direction: column;
}
.shows__cards:hover {
  background-color: #FAFAFA;
  cursor: pointer;
}
.shows__cards--selected {
  background-color: #E1E1E1;
}
.shows__cards--selected:hover {
  background-color: #E1E1E1;
  cursor: pointer;
}
.shows__cards--sub-list {
  padding: 1rem 0rem 0rem;
}
.shows__cards--sub-list-button {
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
}
@media screen and (min-width: 48rem) {
  .shows__cards {
    padding: 1rem 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .shows__cards--sub-list {
    display: flex;
    align-items: center;
    padding: 0rem;
  }
}
@media screen and (min-width: 80rem) {
  .shows__cards {
    padding: 1rem 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .shows__cards--sub-list {
    display: flex;
    align-items: center;
    padding: 0rem;
  }
}
.shows__info--date {
  font-weight: 600;
  font-size: 0.8125rem;
  padding: 0rem 1rem;
}
@media screen and (min-width: 48rem) {
  .shows__info--date {
    min-width: 9rem;
    -moz-column-gap: 0.125rem;
         column-gap: 0.125rem;
    padding: 0rem;
  }
}
@media screen and (min-width: 80rem) {
  .shows__info--date {
    min-width: 9rem;
    -moz-column-gap: 0.125rem;
         column-gap: 0.125rem;
    padding: 0rem;
  }
}
.shows__info--venue, .shows__info--location {
  font-weight: 400;
  font-size: 0.8125rem;
  padding: 0rem 1rem;
}
@media screen and (min-width: 48rem) {
  .shows__info--venue, .shows__info--location {
    min-width: 9rem;
    -moz-column-gap: 0.125rem;
         column-gap: 0.125rem;
    padding: 0rem;
  }
}
@media screen and (min-width: 80rem) {
  .shows__info--venue, .shows__info--location {
    min-width: 9rem;
    -moz-column-gap: 0.125rem;
         column-gap: 0.125rem;
    padding: 0rem;
  }
}
.shows__label {
  padding: 0rem 1rem;
  text-transform: uppercase;
  color: #AFAFAF;
  font-family: "Avenir Next";
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 600;
}
@media screen and (min-width: 48rem) {
  .shows__label {
    display: none;
  }
}
@media screen and (min-width: 80rem) {
  .shows__label {
    display: none;
  }
}
.shows__label--nonmobile {
  display: none;
  color: #AFAFAF;
  font-family: "Avenir Next";
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 600;
}
@media screen and (min-width: 48rem) {
  .shows__label--nonmobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 65%;
    padding: 0rem 1rem 0.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .shows__label--nonmobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 65%;
    padding: 1rem 0.25rem 0.25rem 1rem;
  }
}
.shows__date {
  font-weight: 600;
}
.shows__venue {
  padding-left: 0.8125rem;
}
@media screen and (min-width: 48rem) {
  .shows__venue {
    font-weight: 600;
    padding-left: 0.75rem;
  }
}
@media screen and (min-width: 80rem) {
  .shows__venue {
    font-weight: 600;
    padding-left: 0.25rem;
  }
}
.shows__location {
  padding-right: 0rem;
}
@media screen and (min-width: 48rem) {
  .shows__location {
    font-weight: 600;
    padding-right: 1.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .shows__location {
    font-weight: 600;
    padding-right: 1.75rem;
  }
}
.shows__button {
  width: 100%;
  height: 2.5rem;
  padding: 0.5rem 0.25rem;
  background-color: #323232;
  color: #FFFFFF;
  text-transform: uppercase;
  border-radius: 0.25rem;
  border: none;
  font-family: "Avenir Next";
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 600;
  font-size: 1rem;
}
@media screen and (min-width: 48rem) {
  .shows__button {
    width: 10rem;
    padding: 0.5rem, 1rem;
    font-family: "Avenir Next";
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 80rem) {
  .shows__button {
    width: 10rem;
    padding: 0.25rem, 1rem;
    font-family: "Avenir Next";
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 600;
  }
}
.shows__button:hover {
  background-color: #000000;
  cursor: pointer;
}/*# sourceMappingURL=shows.css.map */